/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #E69023 0%, #BF5002 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}


ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  a {
    color: red;
  }
}